<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
   
   
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="miaStudio/resources/com.mia.banque.model.pkg"/>
   </extension>
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="miaStudio/resources/Model.pkg"/>
   </extension>
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="miaStudio/resources/View.pkg"/>
   </extension>
   <extension point="com.mia.studio.generation.core.generation_package">
      <package file="miaStudio/resources/Controller.pkg"/>
   </extension>
</plugin>
